.color_primary{color:#f26529;}
.bg-color_primary{background-color:#f26529;}
.color_second{color:#22abad;}
.bg-color_second{background-color:#22abad;}
.color_primary_hov:hover{color:#f26529;}
.bg-color_primary_hov:hover{background-color:#f26529;}
.color_second_hov:hover{color:#22abad;}
.bg-color_second_hov:hover{background-color:#22abad;}